name: build
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.20
      uses: actions/setup-go@v6
      with:
        go-version: '1.20.x'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Lint
      run: make lint

    - name: Build
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        go build -v .
        GOBIN=$PWD/bin make lint

    - name: Staticcheck
      uses: dominikh/staticcheck-action@v1.4.0
      with:
        version: "latest"
